.wrap {
    border: solid 1px #ccc;
    padding: 10px;
    text-align: center;
}

#output {
    display: inline-block;
    top: 4px;
    position: relative;
    border: dotted 1px #ccc;
    padding: 2px;
}

.button {
    border: solid 2px #ccc;
}